/* Structure */

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-header-cell {
    font-size: 20px;
    color: black;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
    min-width: 1920px;
}

@media (max-width: 1200px) {
    .mat-header-row,
    .mat-footer-row,
    .mat-row {
        min-width: 2500px;
    }
}

@media (max-width: 992px) {
    .mat-header-row,
    .mat-footer-row,
    .mat-row {
        min-width: 3000px;
    }
}

@media (max-width: 768px) {
    .mat-header-row,
    .mat-footer-row,
    .mat-row {
        min-width: 4000px;
    }
}